:root {
  --primary-color: #00c9a7;
  --secondary-color: #eb7732;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 1.2;
}

form {
  border: solid 2px var(--primary-color);
  margin: 0 auto;
  padding: 1rem 1rem;
  width: 80vw;
}

input {
  margin: 0.5rem 0;
  width: 100%;
}

.button {
  border: none;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

.button-submit {
  background-color: var(--primary-color);
}

.button-reset {
  background-color: var(--secondary-color);
}

.flex {
  display: flex;
}

.flex--justify-center {
  justify-content: center;
}

.is-error {
  border: solid thin var(--secondary-color);
}

.is-success {
  border: solid thin var(--primary-color);
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
